/node_modules
/public/hot
/public/storage
/public/ticket_images
/public/user_profile_images
/public/contactUsFiles
/public/feedbackFiles
/public/images/companyLogos
/public/images/profile
/public/images/driver_documents
/public/guest_resume
/storage/*.key
/vendor
/.vendor

.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/*
